{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Bootstrap CSS --> #}
    <link rel="stylesheet" href="{% static "bootstrap/4.3.1/css/bootstrap.min.css" %}">

    <title>Estratégia</title>
  </head>
  <body>

    {% include "header.html" %}

    <div class="container pt-5">
      {% block content %}{% endblock %}
    </div>

    {# Optional JavaScript --> #}
    {# jQuery first, then Popper.js, then Bootstrap JS #}
    <script src="{% static "jquery/3.4.1/jquery-3.4.1.slim.min.js" %}"></script>
    <script src="{% static "jquery/3.4.1/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "bootstrap/4.3.1/js/bootstrap.min.js" %}"></script>
  </body>
</html>