{% extends "base.html" %}
{% block content %}

        {% if cursos_list %}
            <table class="table table-striped">
                    <tbody>
                        {% for curso in cursos_list %}
                            <tr>
                                <th scope="row"><img src="{{ STATIC_URL }}{{ curso.imagem.url }}"></th>
                                <td>
                                    <a href="{% url 'cursos:detail' curso.id %}">{{ curso.titulo }}</a>
                                    <p>{{ curso.descricao }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <div class="row">
                Sem cursos gratuitos disponíveis.
            </div>
        {% endif %}

{% endblock %}
